<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>AUTOGAS KAZAKHSTAN установка ГБО</title>
	<link rel="shortcut icon" href="./img/logo.svg" type="image/x-icon" />

	<meta name="description" content="Установка и обслужование лучшего газобаллонного оборудования в Казахстане.">
	<meta name="keywords" content="ГБО,установка ГБО,газобаллонное оборудование,установка газобаллонного оборудования">
	<meta name="author" content="Grizly">
	<meta name="image" content="./img/logo.svg">
	<meta property="og:type" content="website">
	<meta property="og:title" content="AUTOGAS KAZAKHSTAN установка ГБО">
	<meta property="og:description" content="Установка и обслужование лучшего газобаллонного оборудования в Казахстане">
	<meta property="og:image" content="./img/logo.svg">
	<meta property="og:url" content="https://avtogas.kz/">
	<link rel="canonical" href="https://avtogas.kz/">
	<!-- Подгрузка внешних ресурсов -->
	<!-- Иконки Apple и favicon разных размеров -->
	<link rel="apple-touch-icon" sizes="57x57" href="./img/icon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="./img/icon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="./img/icon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="./img/icon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="./img/icon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="./img/icon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="./img/icon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="./img/icon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="./img/icon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="./img/icon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="./img/icon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="./img/icon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="./img/icon/favicon-16x16.png">
	<!-- Иконки Apple и favicon разных размеров -->
	<!-- Preload -->
	<link rel="preload" href="/lib/bootstrap-4.6.0/css/bootstrap-reboot.min.css" as="style">
	<link rel="preload" href="/lib/bootstrap-4.6.0/css/bootstrap.min.css" as="style">
	<link rel="preload" href="/lib/swiper/swiper-bundle.min.css" as="style">
	<link rel="preload" href="/lib/animate.min.css" as="style">
	<link rel="preload" href="/lib/aos.css" as="style">
	<link rel="preload" href="/lib/fancybox/jquery.fancybox.min.css" as="style">
	<link rel="preload" href="/lib/fancybox/jquery.fancybox.min.css" as="style">
	<link rel="preload" href="/fonts/roboto-regular-webfont.woff2" as="font" type="font/woff2" crossorigin="anonymous">
	<link rel="preload" href="/fonts/roboto-bold-webfont.woff2" as="font" type="font/woff2" crossorigin="anonymous">
	<!-- Preload -->
	<!-- Иконки для Android -->
	<link rel="manifest" href="./img/icon/manifest.json">
	<!-- Иконки для Android -->
	<!-- Браузер microsoft -->
	<meta name="msapplication-TileImage" content="./img/icon/ms-icon-144x144.png">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="theme-color" content="#ffffff">
	<!-- Браузер microsoft -->
	<!-- Мобильный рабочий стол -->
	<meta name="apple-mobile-web-app-title" content="Название">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<!-- Мобильный рабочий стол -->
	<!-- Убираем подсвет адресов и телефонов на мобильном телефоне -->
	<meta name="format-detection" content="telephone=no">
	<meta name="format-detection" content="address=no">
	<!-- Убираем подсвет адресов и телефонов на мобильном телефоне -->
	<!-- Стили -->
	<link rel="stylesheet" href="css/style.min.css">
	<!-- Стили -->
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-181317948-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-181317948-1');
	</script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<!-- Yandex.Metrika counter -->
	<script type="text/javascript">
		(function (m, e, t, r, i, k, a) {
			m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
			m[i].l = 1 * new Date(); k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
		})
			(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

		ym(79989883, "init", {
			clickmap: true,
			trackLinks: true,
			accurateTrackBounce: true,
			webvisor: true
		});
	</script>
	<!-- Yandex.Metrika counter -->
</head>

<body style="overflow-x: hidden;">
	<!-- scroll-up  -->
	<div class="scroll-up">
		<svg class="scroll-up__svg" viewBox="-2 -2 52 52">
			<path class="scroll-up__svg-path" d="
		M24,0
		a24,24 0 0,1 0,48
		a24,24 0 0,1 0,-48
		" />
		</svg>
	</div>
	<!-- scroll-up  -->

	<div class="screen-1">
		<header class="container header">
			<div class="row">
				<div class="col-xl-7 col-lg-5 col-md-3 col-4">
					<nav class="navbar navbar-expand-xl">
						<div class="container-fluid">
							<div class="row justify-content-between">
								<a class="navbar-brand" href="#">
									<img src="/img/logo.svg" alt="logo">
								</a>
								<div class="collapse navbar-collapse">
									<ul class="navbar-nav" id="navbar-nav">
										<li class="nav-item">
											<a class="nav-link" href="#screen-3">Обородувание</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="#screen-4">Выгода</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="#screen-5">Услуги</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="#screen-7">Контакты</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</nav>
				</div>
				<div class="col-xl-5 col-lg-7 col-md-9 col-8">
					<div class="row">
						<div class="header-contact">
							<span><img src="img/phone.svg" width="25px" height="20px" alt="">
								Телефоны для справок</span>
							<p class="contact-telephone">+7 (707) 806-01-14 </p>
							<!-- <p class="contact-telephone-2">+7 (707) 806-01-14 </p> -->
						</div>
						<button class="button-contact" data-toggle="modal" data-target="#OrderACall">Оставить
							заявку</button>
					</div>
				</div>
			</div>
		</header>
		<section class="container">
			<div class="row">
				<div class="col-xl-5 col-lg-6 col-md-12 col-sm-12 col-12">
					<p class="top-title">AUTOGAS</p>
					<p class="top-title-2">KAZAKHSTAN</p>
					<p class="top-description">Установка и обслуживание лучшего<br /> газобаллонного
						оборудования
						в<br /> Казахстане</p>
					<p class="top-address">Алматы, ул. Беринга, д. 27 <span class="operating-mode">Пн-Пт<br>09:00
							-18:00</span></p>
				</div>
				<div class="col-xl-7 col-lg-6 col-md-12 col-sm-12 col-12">
					<img src="img/car.png" class="car animate__animated animate__backInRight animate__delay-1s"
						width="968px" height="437px" alt="car">
					<div class="gas">
						<img src="img/stuff-1.png"
							class="img-fluid stuff-1 animate__animated animate__backInDown animate__delay-2s"
							width="200px" height="260px" alt="stuff-1">
						<img src="img/stuff-2.png"
							class="img-fluid stuff-2 animate__animated animate__backInDown animate__delay-3s"
							width="200px" height="254px" alt="stuff-3">
						<img src="img/stuff-3.png"
							class="img-fluid stuff-3 animate__animated animate__backInDown animate__delay-4s"
							width="200px" height="278px" alt="stuff-3">
					</div>
				</div>
			</div>
		</section>
	</div>
	<!-- End screen-1 -->
	<section class="container-fluid end-section text-center mb-5">
		<div class="row justify-content-center">
			<div class="text-end">
				<a href="#screen-2"><span>Узнать Больше</span>
					<img src="img/arrow.svg" alt="arrow"></a>
			</div>
		</div>
	</section>
	<div class="screen-2" id="screen-2">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h2 class="section-2h1" data-aos="fade-in" data-aos-duration="2000">Мы
						предлагаем
						вам</h2>
				</div>
			</div>
			<div class="row d-lg-none">
				<div class="col-12 col-sm-12 d-lg-none">
					<div class="swiper-container">
						<!-- Additional required wrapper -->
						<div class="swiper-wrapper">
							<!-- Slides -->
							<div class="swiper-slide">
								<div class="card">
									<img src="img/about/economy.svg" class="card-img-top" loading="lazy" alt="Оплата">
									<div class="card-body">
										<h2 class="card-title">Оплата</h2>
										<p class="card-text">Принимаем все виды оплаты - наличный и безналичный
											расчет,а так же совместно с Каспи-банком мы предоставляем
											беспроцентную рассрочку,кредит на все предоставляемые нами услуги.
										</p>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="card">
									<img src="img/about/payment.svg" class="card-img-top" loading="lazy" alt="Оплата">
									<div class="card-body">
										<h2 class="card-title">ЕВРОПЕЙСКОЕ КАЧЕСТВО</h2>
										<p class="card-text">Мы являемся сертифицированным партнером
											итальянского производителя ГБО-оборудования BRC Gas Equipment.
										</p>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="card">
									<img src="img/about/service.svg" class="card-img-top" loading="lazy" alt="Оплата">
									<div class="card-body">
										<h2 class="card-title">СЕРВИС</h2>
										<p class="card-text">Мы предоставляем своим клиентами расширенный спектр
											услуг по сервисному обслуживанию газобаллонного оборудования.<br>Наш
											сервисный центр является сертифицированным партнером итальянского
											производителя ГБО-оборудования BRC Gas Equipment.
										</p>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="card">
									<img src="img/about/weather.svg" class="card-img-top" loading="lazy" alt="Оплата">
									<div class="card-body">
										<h2 class="card-title">В ЛЮБЫХ УСЛОВИЯХ</h2>
										<p class="card-text">На наших системах, мы задаем первоначальные
											настройки при прошивке и после этого Электронный Блок Управления ГБО
											автоматически корректирует все показания исходя из окружающей
											температуры и окружающей среды.
										</p>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="card">
									<img src="img/about/safety.svg" class="card-img-top" loading="lazy" alt="Оплата">
									<div class="card-body">
										<h2 class="card-title">ЛУЧШИЕ РАСХОДНИКИ</h2>
										<p class="card-text">При монтаже мы используем армированную
											термопластиковую магистраль FARO, которая по своим техническим и
											эксплуатационным качествам значительно превосходит медную
											магистраль.
										</p>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="card">
									<img src="img/about/chip.svg" class="card-img-top" loading="lazy" alt="Оплата">
									<div class="card-body">
										<h2 class="card-title">БЛОКИ УПРАВЛЕНИЯ</h2>
										<p class="card-text">Блоки управления ГБО оснащены стратегиями работы
											нового поколения.
										</p>
									</div>
								</div>
							</div>
						</div>
						<!-- If we need pagination -->
						<div class="swiper-pagination"></div>
					</div>
				</div>
			</div>
			<!-- Ряд-1 -->
			<div class="row row-cols-xl-3 row-cols-lg-2 d-none d-lg-flex">
				<div class="col-4">
					<div class="card mb-5">
						<div class="row g-0">
							<div class="col-lg-2">
								<img src="img/about/economy.svg" alt="Оплата">
							</div>
							<div class="col-lg-10">
								<div class="card-body">
									<h5 class="card-title">Оплата</h5>
									<p class="card-text"> Наличный и безналичный
										расчет,а так же совместно с Каспи-банком мы предоставляем
										беспроцентную рассрочку,кредит на все предоставляемые нами услуги.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-4">
					<div class="card mb-5">
						<div class="row g-0">
							<div class="col-lg-2">
								<img src="img/about/payment.svg" alt="Оплата">
							</div>
							<div class="col-lg-10">
								<div class="card-body">
									<h5 class="card-title">ЕВРОПЕЙСКОЕ КАЧЕСТВО</h5>
									<p class="card-text">Мы являемся сертифицированным партнером
										итальянского производителя ГБО-оборудования BRC Gas Equipment.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-4">
					<div class="card mb-5">
						<div class="row g-0">
							<div class="col-lg-2">
								<img src="img/about/service.svg" alt="Оплата">
							</div>
							<div class="col-lg-10">
								<div class="card-body">
									<h5 class="card-title">Сервис</h5>
									<p class="card-text">Мы предоставляем своим клиентами расширенный спектр
										услуг по сервисному обслуживанию газобаллонного оборудования.<br>Наш
										сервисный центр является сертифицированным партнером итальянского
										производителя ГБО-оборудования BRC Gas Equipment.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Ряд-1 -->
				<!-- Ряд-2 -->
				<div class="col-4">
					<div class="card mb-5">
						<div class="row g-0">
							<div class="col-lg-2">
								<img src="img/about/weather.svg" alt="Оплата">
							</div>
							<div class="col-lg-10">
								<div class="card-body">
									<h5 class="card-title">В ЛЮБЫХ УСЛОВИЯХ</h5>
									<p class="card-text">На наших системах, мы задаем первоначальные настройки
										при прошивке и после этого Электронный Блок Управления ГБО автоматически
										корректирует все показания исходя из окружающей температуры и окружающей
										среды.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-4">
					<div class="card mb-5">
						<div class="row g-0">
							<div class="col-lg-2">
								<img src="img/about/safety.svg" alt="Оплата">
							</div>
							<div class="col-lg-10">
								<div class="card-body">
									<h5 class="card-title">ЛУЧШИЕ РАСХОДНИКИ</h5>
									<p class="card-text">При монтаже мы используем армированную термопластиковую
										магистраль FARO, которая по своим техническим и эксплуатационным
										качествам значительно превосходит медную магистраль.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-4">
					<div class="card mb-5">
						<div class="row g-0">
							<div class="col-lg-2">
								<img src="img/about/chip.svg" alt="Оплата">
							</div>
							<div class="col-lg-10">
								<div class="card-body">
									<h5 class="card-title">БЛОКИ УПРАВЛЕНИЯ</h5>
									<p class="card-text">Блоки управления ГБО оснащены стратегиями работы нового
										поколения.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Ряд-2 -->
		</div>
		<!-- End container -->
	</div>

	<div class="screen-3" id="screen-3">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<h2 class="section-3h1" data-aos="fade-in" data-aos-duration="2000">ОБОРУДОВАНИЕ
					</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-xl-12">
					<!-- Slider main container -->
					<div class="tools-container mt-5">
						<!-- Additional required wrapper -->
						<div class="swiper-wrapper">
							<!-- Slides -->
							<!-- 1 slide -->
							<div class="swiper-slide">
								<div class="row">
									<div class="col-xl-6 col-lg-12 col-sm-12 col-12 tools-info">
										<p class="tools-text"><strong>Компания «АВТОГАЗ КАЗАХСТАН»</strong> осуществляет
											установку и
											обслуживание газобаллонного оборудования (ГБО) итальянской компании
											BRC.
										</p>
										<a data-fancybox="gallery" class="sert" href="img/sert.jpg"><img
												class="img-fluid" src="img/sert-small.jpg"
												alt="Сертификат на оборудованите"></a>
									</div>
									<div class="col-xl-6 col-lg-12 col-sm-12 col-12  text-center d-none d-xl-block">
										<img src="img/tools-img.jpg" class="tools-img img-fluid" loading="lazy"
											alt="Оборудование">
									</div>
								</div>
							</div>
							<!-- 2 slide -->
							<div class="swiper-slide">
								<div class="row">
									<div class="col-xl-6 col-lg-12 col-sm-12 col-12 tools-info">
										<p class="tools-text"><strong>Редуктор BRC GENIUS MAX</strong> предназначен для
											переоборудования
											инжекторных автомобилей и используется в составе системы впрыска газа,
											поскольку это – широко проверенное устройство с превосходным соотношением
											цена/качество.</p>
									</div>
									<div class="col-xl-6 col-lg-12 col-sm-12 col-12 text-center">
										<img src="img/gearbox.png" class="tools-img img-fluid" loading="lazy"
											alt="Газовый редуктор Genius max">
									</div>
								</div>
							</div>
							<!-- 3 slide -->
							<div class="swiper-slide">
								<div class="row">
									<div class="col-xl-6 col-lg-12 col-sm-12 col-12 tools-info">
										<p class="tools-text"><strong>Мультиклапан BRC</strong> Europa 2 имеет все
											предохранительные
											устройства, предусмотренные новыми европейскими Нормами Безопасности:</p>
										<ol>
											<li>скоростной клапан</li>
											<li>заправочный клапан</li>
											<li>электромагнитный запорный клапан</li>
											<li>датчик уровня топлива </li>
											<li>предохранительный клапан на 27 бар.</li>
										</ol>
									</div>
									<div class="col-xl-6 col-lg-12 col-sm-12 col-12 text-center">
										<img src="img/Multi-valve.png" class="tools-img img-fluid" loading="lazy"
											alt="Мультиклапан">
									</div>
								</div>
							</div>
							<!-- 4 slide -->
							<div class="swiper-slide">
								<div class="row">
									<div class="col-xl-6 col-lg-12 col-sm-12 col-12 tools-info">
										<p class="tools-text"><strong>БЛОК управления BRC</strong> Блок управления ГБО
											позволяет управлять дозированным впрыском газа в топливную систему. </p>
									</div>
									<div class="col-xl-6 col-lg-12 col-sm-12 col-12 text-center">
										<img src="img/Control-unitBRC.png" class="tools-img img-fluid" loading="lazy"
											alt="БЛОК управления">
									</div>
								</div>
							</div>
							<!-- 5 slide -->
							<div class="swiper-slide">
								<div class="row">
									<div class="col-xl-6 col-lg-12 col-sm-12 col-12 tools-info">
										<p class="tools-text"><strong>Газовая Форсунка BRC</strong> установочного
											комплекта BRC
											представляет собой высококачественную мембранную форсунку с высокой
											скоростью
											работы. <br /><strong>Форсунки BRC</strong> гарантированно работают до
											пробега 100 тыс. км. ,
											а средний ресурс составляет 150-200 тыс. км.</p>
									</div>
									<div class="col-xl-6 col-lg-12 col-sm-12 col-12 text-center">
										<img src="img/Gas-nozzleBRC.png" class="tools-img img-fluid" loading="lazy"
											alt="Газовая Форсунка">
									</div>
								</div>
							</div>
						</div>
						<!-- If we need pagination -->
						<div class="swiper-pagination"></div>

						<!-- If we need navigation buttons -->
						<div class="swiper-button-prev d-none d-lg-flex"></div>
						<div class="swiper-button-next d-none d-lg-flex"></div>
					</div>
				</div>
			</div>
			<div class="tools-decor d-none d-xl-block d-xxl-block"></div>
		</div>
	</div>

	<div class="screen-4" id="screen-4">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h2 class="section-4h1" data-aos="fade-in" data-aos-duration="2000">ВЫГОДА ГБО
					</h2>
					<p class="subtitle">Введите данные и расчитайте окупаемость ГБО</p>
				</div>
			</div>
			<div class="row justify-content-center p-2" id="calc">
				<form class="calc">
					<div class="row row-cols-xl-5 row-cols-md-2 row-cols-sm-2 row-cols-1 g-3">
						<div class="col">
							<input type="number" class="form-control" id="calc-gbo-price" v-model="gbo_price">
							<label for="calc-gbo-price" class="form-label">Стоимость ГБО (тг)</label>
						</div>
						<div class="col">
							<input type="number" class="form-control" id="calc-petrol-price" v-model="petrol_price">
							<label for="calc-petrol-price" class="form-label">Цена 1 литра бензина
								(тг)</label>
						</div>
						<div class="col">
							<input type="number" class="form-control" id="calc-upkeep" v-model="upkeep">
							<label for="calc-upkeep" class="form-label">Средний расход бензина на 100 км
								пробега (л)</label>
						</div>
						<div class="col">
							<input type="number" class="form-control" id="calc-gas-price" v-model="gas_price">
							<label for="calc-gas-price" class="form-label">Цена 1 литра газа
								(тг)</label>
						</div>
						<div class="col">
							<input type="number" class="form-control" id="calc-mileage" v-model="mileage">
							<label for="calc-mileage" class="form-label">Средний суточный пробег вашего
								автомобиля (км)</label>
						</div>
					</div>
				</form>
				<div class="calc__divider">
					<div class="row justify-content-center">
						<div class="col-xl-12">
							<img src="img/arrow.svg" alt="arrow">
						</div>
					</div>
				</div>
				<div class="row row-cols-xl-4 row-cols-lg-2 row-cols-md-2 row-cols-1 mt-5 mb-5">
					<div class="col">
						<div class="row">
							<div class="col calc__output-left">{{ gbo_term }}</div>
							<div class="col calc__output-right">Срок окупаемости ГБО (месяцев)</div>
						</div>
					</div>
					<div class="col">
						<div class="row">
							<div class="col calc__output-left">{{ gbo_economy }}</div>
							<div class="col calc__output-right">Экономия со 100 км. пробега (тенге)
							</div>
						</div>
					</div>
					<div class="col">
						<div class="row">
							<div class="col calc__output-left">{{ gbo_mileage }}</div>
							<div class="col calc__output-right">Километраж за который окупится ГБО</div>
						</div>
					</div>
					<div class="col">
						<div class="row">
							<div class="col calc__output-left">{{ gbo_gas_economy }}</div>
							<div class="col calc__output-right">Экономия на 1000 км пробега на газу
								(тенге)
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="screen-5" id="screen-5">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h2 class="section-5h1" data-aos="fade-in" data-aos-duration="2000">УСЛУГИ
					</h2>
					<p class="subtitle5">Наши специалисты — профессионалы своего дела</p>
				</div>
			</div>
			<div class="row row-cols-xl-3 row-cols-lg-2 row-cols-md-2 row-cols-1 g-4">
				<div class="col">
					<div class="card h-100">
						<div class="card-body">
							<h5 class="card-title">Установка ГБО</h5>
							<p class="card-text">Итальянского производства, гарантия на оборудование 3 года.<br />
								Завод производитель M.T.M Италия.</p>
						</div>
						<div class="card-footer">
							<div class="d-grid gap-2">
								<button class="btn3d green criss-cross" data-toggle="modal" data-target="#uslugi"
									data-content="Установка ГБО">Заказать услугу</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card h-100">
						<div class="card-body">
							<h5 class="card-title">Диагностика и ремонт ГБО</h5>
							<p class="card-text">Комплексная диагностика работоспособности и состояния
								оборудования, настройка гбо адаптация топливных карт.<br /> При ремонте используются
								только оригинальные комплектующие и расходные материалы.</p>
						</div>
						<div class="card-footer">
							<button class="btn3d green criss-cross" data-toggle="modal" data-target="#uslugi"
								data-content="Диагностика и ремонт ГБО">Заказать услугу</button>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card h-100">
						<div class="card-body">
							<h5 class="card-title">Плановое и гарантийное техобслуживание ГБО</h5>
							<p class="card-text">Замена фильтров гбо.</p>
						</div>
						<div class="card-footer">
							<button class="btn3d green criss-cross" data-toggle="modal" data-target="#uslugi"
								data-content="Плановое и гарантийное техобслуживание ГБО">Заказать услугу</button>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card h-100">
						<div class="card-body">
							<h5 class="card-title">Продажа запасных частей и расходников ГБО</h5>
						</div>
						<div class="card-footer">
							<button class="btn3d green criss-cross" data-toggle="modal" data-target="#uslugi"
								data-content="Продажа запасных частей и расходников ГБО">Заказать услугу</button>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card h-100">
						<div class="card-body">
							<h5 class="card-title">Диагностика и ремонт электронных цепей автомобиля</h5>
						</div>
						<div class="card-footer">
							<button class="btn3d green criss-cross" data-toggle="modal" data-target="#uslugi"
								data-content="Диагностика и ремонт электронных цепей автомобиля">Заказать
								услугу</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="screen-6" id="screen-6">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12">
					<h2 class="section-6h1" data-aos="fade-in" data-aos-duration="2000">
						<a href="https://www.instagram.com/autogaskz/">
							Наши работы в Instagram
							<img src="img/instagram.png" alt="instagram">
						</a>
					</h2>
				</div>
			</div>
			<div class="row justify-content-center mt-5">
				<div class="works-container">
					<!-- Additional required wrapper -->
					<div class="swiper-wrapper">
						<!-- Slides -->
						<div class="swiper-slide">
							<div class="row">
								<div class="col-12">
									<a href="https://www.instagram.com/p/Bijzx1dAMAK/">
										<img src="img/works/01.jpg" loading="lazy" alt="works-01">
									</a>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="row">
								<div class="col-12">
									<a href="https://www.instagram.com/p/BiUVlm-gUtX/">
										<img src="img/works/02.jpg" loading="lazy" alt="works-02">
									</a>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="row">
								<div class="col-12">
									<a href="https://www.instagram.com/p/BZNn0BTjG6n/">
										<img src="img/works/03.jpg" loading="lazy" alt="works-03">
									</a>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="row">
								<div class="col-12">
									<a href="https://www.instagram.com/p/BUn61fJDWZv/">
										<img src="img/works/04.jpg" loading="lazy" alt="works-04">
									</a>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="row">
								<div class="col-12">
									<a href="https://www.instagram.com/p/BP1vBhzgr-Y/">
										<img src="img/works/05.jpg" loading="lazy" alt="works-05">
									</a>
								</div>
							</div>
						</div>

					</div>
					<!-- If we need pagination -->
					<div class="swiper-pagination"></div>
					<!-- If we need scrollbar -->
					<div class="swiper-scrollbar"></div>
					<!-- slider container end -->
				</div>
			</div>

		</div>
	</div>

	<div class="screen-7" id="screen-7">
		<div class="container-fluid">
			<script type="text/javascript" charset="utf-8" async
				src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A30a0c8715f1effa623e1c636175727b8e48fbc28d6d0ba33ca9171c86d142f5a&amp;width=100%25&amp;height=720&amp;lang=ru_RU&amp;scroll=false"></script>
			<div class="row">
				<div class="col contact">
					<h3 class="contact__title">Контакты</h3>
					<address class="contact__adress">Республика Казахстан 050039, г.<br /> Алматы, ул. Беринга,
						д. 27</address>
					<p class="contact__tel">+7 (707) 806-01-14</p>
					<p class="contact__tel">+7 (727) 251-24-524</p>
				</div>
			</div>
		</div>

		<footer class="container-fluid footer">
			<div class="row justify-content-center align-items-end">
				<div class="col">
					<div class="row justify-content-center">
						<img src="img/logo.svg" alt="">
					</div>
				</div>
				<div class="col">
					<div class="row justify-content-center">
						<p class="footer-text">© AGBO 2017-2021 Все права защищены</p>
					</div>
				</div>
				<div class="col">
					<a href="https://www.instagram.com/autogaskz/"><img src="img/instagram.svg" class="instagram-footer"
							alt="instagram"></a>

				</div>
			</div>
		</footer>
	</div>

	<!--Modal Order a call  -->
	<div class="modal fade" id="OrderACall" tabindex="-1" aria-labelledby="OrderACall" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header d-flex justify-content-center">
					<h5 class="modal-title title" id="OrderACall">Оставить заявку</h5>
				</div>
				<div class="modal-body">
					<div class="container">
						<form class="row justify-content-center" id="orderform">
							<div class="col-12 mb-3">
								<input type="text" name="name" class="form-control" placeholder="Имя" aria-label="Имя"
									data-validate-field="name">
							</div>
							<div class="col-12 mb-3">
								<input type="tel" name="telephone" class="form-control" placeholder="Номер телефона"
									aria-label="Номер телефона" data-validate-field="tel">
							</div>
							<button type="submit" class="submit-button">Отправить</button>
						</form>
					</div>

				</div>
			</div>
		</div>
	</div>
	<!--Modal Order a call  -->

	<!--Modal uslugi  -->
	<div class="modal fade" id="uslugi" tabindex="-1" aria-labelledby="uslugi" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header d-flex justify-content-center">
					<h5 class="modal-title title">Заявка</h5>
				</div>
				<div class="modal-body">
					<div class="container">
						<h5 id="uslugi-title" class="text-center pb-3"></h5>
						<form class="row justify-content-center" id="uslugiForm">
							<div class="col-12 mb-3">
								<input type="hidden" name="uslugiName" id="uslugiName" value="">
								<input type="text" name="name" class="form-control" placeholder="Имя" aria-label="Имя"
									data-validate-field="name">
							</div>
							<div class="col-12 mb-3">
								<input type="tel" name="telephone" class="form-control" placeholder="Номер телефона"
									aria-label="Номер телефона" data-validate-field="tel">
							</div>
							<button type="submit" class="submit-button">Отправить</button>
						</form>
					</div>

				</div>
			</div>
		</div>
	</div>
	<!--Modal uslugi  -->

	<!--Modal success  -->
	<div class="modal fade" id="sucmodal" tabindex="-1" aria-labelledby="sucmodal" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header d-flex justify-content-space-between">
					<h5 class="modal-title title">Спасибо</h5>
					<button type="button" class="btn-close btn-close-white" data-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="container">
						<h5 class="text-center pb-3">Ваша заявка принята!</h5>
					</div>

				</div>
			</div>
		</div>
	</div>
	<!--Modal success  -->

	<!--Modal Error  -->
	<div class="modal fade" id="erormodal" tabindex="-1" aria-labelledby="sucmodal" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header d-flex justify-content-space-between">
					<h5 class="modal-title title">Ошибка</h5>
					<button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="container">
						<h5 class="text-center pb-3">При отправке заявки произошла ошибка!</h5>
					</div>

				</div>
			</div>
		</div>
	</div>
	<!--Modal Error  -->

	<!-- Скрипты -->
	<script src="lib/Jquery.js"></script>
	<script src="lib/bootstrap-4.6.0/js/bootstrap.min.js"></script>
	<script src="lib/bootstrap-4.6.0/js/bootstrap.bundle.min.js"></script>
	<script src="lib/swiper/swiper-bundle.min.js"></script>
	<script src="lib/aos.min.js"></script>
	<script src="lib/fancybox/jquery.fancybox.min.js"></script>
	<script src="lib/vue.min.js"></script>
	<script src="lib/inputmask.min.js"></script>
	<script src="lib/Just-validate/just-validate.min.js"></script>
	<script src="js/main.min.js"></script>
	<!-- Скрипты -->
</body>

</html>